/******
general
******/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d8dddd;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 62.5%;			/* 1em = 10px */ 
    text-align: center;     	/* per centrare il wrapper orizzontalmente */
}

/******
wrapper
******/
#wrapper {
    background-color: white;
    margin: auto;
    max-width: 1024px;          
    padding: 2em;
    text-align: left;       	/* per allineare il testo nuovamente a sinistra */
}

/***** 
header 
*****/
/* logo */
#logo {
    border: 2px solid black;
    border-radius: 1em;
    display: inline-block;
    height: auto;
    width: 9em;
}

/* titolo */
#titolo {
    display: inline-block;
    line-height: 5em;
}

#titolo h1 {
    color: #4caf50;
    font-size: 7em;
}

#titolo h2 { font-size: 4em; }

/* login */
#login { float: right; }

#login h3 { margin-bottom: 0.5em; }

#login a {
    border: 2px solid #4caf50;
    border-radius: 0.3em;
    color: black;
    display: inline-block;
    font-size: 1.5em;
    padding: 0.1em 0.5em;
    text-decoration: none;
}

#login a:hover { background-color: #5cd660; }

#login p { 
	font-size: 1.2em; 
    margin-bottom: 0.5em;
}

#login button {
	background-color: white;
	border: 2px solid #4caf50;
    border-radius: 0.3em;
    color: black;
    cursor: pointer;
    padding: 0.1em 0.5em;
    width: 100%;
}

#login button:hover { background-color: #5cd660; }

/***** 
navbar
*****/
#navbar {
    background-color: #595959;
    position: sticky;                
    top: 0;
}

/* dropdown button */
.dropbutton {
    background-color: #595959;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2em;
    padding: 0.5em;
}

.dropbutton:hover { background-color: #4caf50; }

/* dropdown menu */
.dropdown {
    display: inline-block;
    position: relative;
    visibility: hidden;
}

.dropdown i { margin-right: 0.2em; }

.dropdown-content {
    background-color: #f1f1f1;
    box-shadow: 0 0.5em 1.5em 0 rgba(0, 0, 0, 0.2);
    display: none;
    min-width: 15em;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    display: block;
    font-size: 1.5em;
    padding: 1em 1.5em;
    text-decoration: none;
}

.dropdown-content a:hover { background-color: #4caf50; }

.darkBackground { background-color: #ccccb3; }

.show { display: block; }		/* mostra il menu usando JS */

/* menu entries */
#menu-entries { float: left; }

#menu-entries ul { list-style-type: none; }

#menu-entries ul li { display: inline-block; }

#menu-entries ul li a {
    color: white;
    display: block;
    font-size: 2em;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
}

#menu-entries ul li a:hover { background-color: #4caf50; }

#menu-entries .active {	
	background-color: #5cd660; 
    color: white;
    cursor: default;
    font-size: 2em;
    padding: 0.5em;
    text-align: center;
}

/******
section
******/
.section {
    margin-top: 4em;
    text-align: center;			/* per centrare orizzontalmente i contenuti */
}

.section h1 {
    color: #4caf50;
    font-size: 4em;
    line-height: 1.1em;
}

.section p {
    display: block;
    font-size: 2em;
    line-height: 1.2em;
    margin-top: 1em;
}

.section h1, p { text-align: left; }

/*****
eventi
*****/
.frame {
    margin: 1em;
    width: 30%;
    min-width:29em;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    display:inline-table;  
}

.eventi img {
    width: 100%;
    border-radius: 8px;
}

.container {
    text-align: center;
    padding: 10px 20px;
    font-size:1.5em;
}

.container .nomeEvento { font-size: 1.5em; }

/* descrizione eventi */
.descframe {
    margin: 1em;
    width: 70%;
    min-width:29em;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    display:inline-table;
}

.desceventi { text-align: center; }

.desceventi img {
    border-radius: 8px; 
    width: 100%;
}

.desccontainer {
    padding: 10px 20px;
    font-size:1.5em;
}

.desccontainer .nomeEvento { font-size: 1.5em; }

.desccontainer .descrizione { border: none; }

/******************* 
eventi/panini/drinks  
*******************/
.box {
	border: 2px solid black;
	border-radius: 0.3em;
    display: inline-table;
  	font-size: 1.7em;
	margin: 1em;
    overflow: hidden;
	width: 15em;
}

.name {
	background-color: #4caf50;
    border-bottom: 2px solid black;
    color: #ffffff;
	padding: 0.7em;
	text-align: center;
}

#image {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

.boxImage { 
	border-bottom: 2px solid black;
    height: auto;
    max-height: 12em;
	max-width: 14em;
	padding: 0.6em;
    text-align: center; 
  	width: auto;
}

#drinks .boxImage { height: 12em; }

.image {
	max-height: 11em;
    max-width: 13em;
}

.descrizione {
	border-bottom: 2px solid black;
	font-size: 1em;
	padding: 0.6em;
	height: 7em;
}

.prezzo{
  font-size: 1em;
  color: #ffffff;
  background-color: #4caf50;
  padding: 0.3em;
}

.altri {
	font-size: 200%;
    margin-top: 0.5em;
    text-align: center;
}

.altri a {
	border: 2px solid #4caf50;
    border-radius: 0.2em;
	color: black;
    display: block;
    margin: 0 auto;
	text-decoration: none;
}

.altri a:hover {
    background-color: #5cd660;
}

/*********
contattaci   
*********/
#contattaci { text-align: left; }

#contattaci .contenitore {
	align-items: center;
	display: flex;
	margin: 2em 0;
}

#contattaci .image {
    border: 2px solid black;
    border-radius: 1em;
    display: inline-block;
    max-height: 10em;
    height: auto;
    width: 10em;
}

#contattaci .cont_text {
	display: inline-block;
	font-size: 180%;
	line-height: 1.5em;
    margin-left: 1em;
}

#contattaci .cont_nome {
  	font-size: 120%;
  	font-weight: bold;
}

#contattaci a {
	display: block;
    font-size: 2em;
    text-align: center;
}

#EliminaContatto a {
	display: block;
    font-size: 2em;
    margin-left: 2em;
}

/*****
footer
*****/
#footer { 
	background-color: #d8dddd; 
	margin: 2em auto;
}

#footer p {
	display: block;
	font-size: 1.5em;
    text-align: center;
}

/*****************************
inserimento/modifica/rimozione
*****************************/
.formInserimento {
  	font-size: 1.4em;
    padding: 0.5em;
    text-align: left;
}

.formInserimento fieldset { border:none; }

.formInserimento input {
    border: 1px solid gray;
    border-radius: 0.3em;
    margin: 0.3em 0;
    padding: 0.3em;
}
.formInserimento textarea {
    border: 1px solid gray;
    border-radius: 0.3em;
    margin: 0.3em 0;
    padding: 0.3em;
}

#fileToUpload { border: none; }

#errori {
  	padding: 1em 0 0.3em 1.5em;
  	font-size: 1.6em;
  	font-weight: bold;
}

.messaggio {
  	line-height: 1.6em;
  	margin-left: 1em;
  	padding: 0.5em;
  	font-size: 1.4em;
}

.AreaRiservata {
	font-size: 200%;
    line-height: 2em;
    text-align: center;
}

.AreaRiservata p { 
	margin: 0.5em 0;
	text-align: center; 
}

#inserisci{
  	margin: 0.1em 0;
  	padding: 0.3em;
}

.Inserimento{
  	padding: 0.5em;
  	font-size: 2em;
  	font-weight: bold;
}

#Modifica {
  	float: left;
  	padding: 0.4em;
}
#Elimina {
  	float: right;
  	padding: 0.4em;
}

#errorMsg { 
	margin: 1em 0;
    font-size: 5em; 
}

/*******
commenti
*******/
#commentForm{
	margin-left: 2em;
    margin-bottom: 1em;
    text-align: left;
}

#commentForm p{
	font-size: 2em;
    line-height: 1.2em;
    margin: 1em;
}

#commentForm textarea{
	margin-left: 2em;
    width: 30em;
    height: 7em;
    resize: none;
    border-radius: 0.3em;
}

#commentForm button{
	background-color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 0.3em;
    color: white;
    cursor: pointer;
    margin-left: 3em;
    margin-bottom: 1em;
    padding: 0.3em 0.5em;
    font-size: 1.2em;
}

.commento{
	text-align: left;
	margin: 2em;
    border: 2px solid #4caf50;
    padding: 1.4em;
    border-radius: 0.5em;
    max-width: 50em;
}

.commento h2{
	font-size: 2em;
    margin-left: 1em;
    color: #4caf50;
}

.commento p{
	font-size: 1.7em;
    margin-top: 0.7em;
}

.commento #Elimina{
	margin-top: 0.8em;
    font-size: 1.4em;
    margin-left: 0.5em;
}

/*REGISTRAZIONE E LOGIN */
.message {
	font-size: 2em;
    line-height: 1.2em;
    color: red;
    text-align: center;
    margin-top: 1em;
}

.loginAndRegistrationForm {
    margin-top: 6em;
}

.loginAndRegistrationForm fieldset {
	border: none;
}

.loginAndRegistrationForm p {
	font-size: 2.3em;
    line-height: 1.2em;
    margin-top: 0.5em;
    text-align: center;
}

.loginAndRegistrationForm input {
    border: 1px solid gray;
    border-radius: 0.3em;
    margin: 0.4em;
    padding: 0.4em;
}

.loginAndRegistrationForm button {
	background-color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 0.3em;
    color: white;
    cursor: pointer;
    padding: 0.4em 0.8em;
    font-size: 1.1em;
}

#registrazioneAvvenuta {
	margin: 1em;
	font-size: 3em;
    line-height: 2em;
    text-align: center;
}

#registrazioneAvvenuta p {
	font-size: 150%;
    text-align: center;
}
    
/************
media-queries
************/
@media screen and (max-width: 700px) {
	#navbar ul li { display: none; }
    
    .dropdown { visibility: visible; }
}

@media screen and (max-width: 600px) {
    #logo { display: none; }
    
    #riddlerRegistration { display: none; }
}

@media screen and (max-width: 550px) {
    #login { display: none; }
    #commentForm textarea{ width: 70%; }
    
    #contattaci .image { display: none; }
}
