/*generale*/
body {
	font:18px Arial, Helvetica, sans-serif;
	color:black;
	margin: 0;
	height:100%;
}

/*struttura*/
.fright {
	float:right;
}

/*header*/
#header {
	background: url(../img/texture.jpg)repeat;
	position:relative;
	overflow: auto;
}

/*img set*/
#img{
	font-size: 0;
	display: block;
	vertical-align:top;
}

.presentation_img{
	box-shadow:3px 3px 6px 1px #333333;
}

/*logo*/
#logo {
	margin-top: 0.3em;
	margin-left: 0.5em;
	float: left;
    display: inline-block;
    height: auto;
    width: 7em;
}

/*titolo*/
#title h1 {
	color: black;
	float:left;
	position: relative;
	top: 0em;
	left: 0.42em;
}

/*chiama ora*/
.header-meta {
	text-align:right;
	padding:31px 20px 20px;
}
.header-meta * {
	text-align:left;
}
.header-meta .col-elem {
	display:inline-block;
	/*width:235px;*/
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	/*line-height:21px;*/
	color: black;
	font-weight: bold;
	/*text-transform:uppercase;*/
}
.header-meta .phone {
	display:inline-block;
	font-size:22px;
	line-height:22px;
	color:black;
	font-weight: bold;
	margin:-3px 0 0 5px;
}

/*Navbar*/

.nav{
	background-color: #6585a2;
	margin: 0;
	/*padding: 0.8em;*/
	text-align: center;
}

.nav ul{
	width: 70%;
	padding-left: 0;
	margin: 0;
	padding-top: 0.9em;
	list-style: none;
	display: inline-block;
}

.nav li {
	display: inline;
}

.nav a{
	height: 100%;
	display: inline-block;
	padding: 0.8em;
	padding-bottom: 1em;
	color:white;
	font-size: 20px;
	text-decoration: none;
	cursor:pointer;
}

.nav a:hover {
	color: #2f233a;
	text-decoration: none;
}

.current a{
	background-color: #ececec;
	color: #6585a2; 
}

/*searchbar*/
.search {
	/*width:271px;
	height:31px;*/
	width: 25%;
	margin-top: 1.2em;
	float: right;
}

.searchTerm {
  float: left;
  width: 80%;
  border: 3px solid white;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  /*position: absolute;*/  
  /*right: -50px;
  width: 40px;*/
  height: 36px;
  border: 1px solid white;
  background: white;
  text-align: center;
  color: #1167cb;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-left: -10%;
}



/*breadcrumb*/

ul.breadcrumb {
  padding: 20px 16px;
  list-style: none;
  text-align: center;
  background-color: #6585a2;
  color:white;
  margin:0;
}

ul.breadcrumb li {
  display: inline;
  font-size: 20px;
}

.bc_here {
  color:#162e55;
  text-decoration: none;
}

/*simbolo slash*/
ul.breadcrumb li+li:before {
  padding: 8px;
  color: white;
  content: "/\00a0";
}

/*colore*/
ul.breadcrumb li a {
  color: white;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color:#162e55;
  text-decoration: underline;
}

/******
section
******/
.section {
    margin-top: 4em;
    text-align: center;			/* per centrare orizzontalmente i contenuti */
}

.section h3 {
    color: #4caf50;
    font-size: 2em;
    line-height: 1.1em;
    text-align: center;
}

.section p {
    display: block;
    font-size: 1em;
    line-height: 1.2em;
    margin-top: 1em;
}

.section h1, p { text-align: center; }

/** SIDEBAR**/

#sidebar1 {
	margin-top: 1.15em;
	float: right;
	width: 250px;
	margin-right: 50px;
	background: linear-gradient(135deg, rgba(217,209,239,1) 0%, rgba(237,235,250,0.95) 37%, rgba(192,190,234,0.9) 74%, rgba(205,198,235,0.87) 100%);
	padding:2%;
	text-align: center;
}

#sidebar1 #box1 {
	margin-bottom: 30px;
}

.link-style {
	display: inline-block;
	margin-top: 20px;
	padding: 7px 20px;
	background: #0C73D4;
	border-radius: 5px;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
}



/*inserite qui i contenuti delle pagine*/
#content{
	text-align: center;
	margin-left: 2em;
	margin-right: 2em;
}
/*Contattaci*/


#spazio-nome {
  padding-bottom: 1em;
}

.messaggio form {
  padding-bottom: 2em;
}



.submit-form {
  margin-top: 1em;
}

.messaggio {
  text-align: center;
  padding-top: 2em;
}

.messaggio form ul {
  list-style: none;
  padding-left: 0;
}

.messaggio form li {
  margin-bottom: 0.5em;
}

.messaggio form label {
  float: left;
  width: 100%;
}

#message-text {
  width: 30em;
  height: 10em;
}

#name,
#email {
  width: 20em;
}

#contact-error-print {
  display: none;
}

/*****
footer
*****/
#footer { 
	background-color: #d8dddd; 
	position: static;
	padding-top: 1em;
	padding-bottom: 1em;
	bottom: 0;
	text-align: center;
}

#footer p {
	display: block;
	margin: 0;
	font-size: 0.8em;
}

#footer_logo{
	width: 5%;
	height: 5%;
}
