/*****generale******/
/******************/

html,
body {
  margin-top: 0px !important;
  padding-top: 0px;
  margin-bottom: 0em;
  padding-bottom: 0em;
  text-align: left;
}
/*display: none;*/



.noprint, .canc, .logolink, .fservizi, .image5, .image4, .row, .rightCont, .anteprimag, .modificaor {
  display: none;
}

.galleria{
  display: none;
}


.list-type3 li img{
	float: left;

}

.boxImage2{
	padding:1em 0em 1em 0em;
}

#title{
	margin-top: 1.5em;
	padding-top:2em;
}


.name2 {
	margin-top: 1.5em;
  	font-size: 1.3em;
}

#imghome, #myBtn, #nostampa{
	display: none;
}


#logo{
	width: 3em;
	filter:grayscale(1);
}

.leftHome,
.rightHome,
.BenvenutoHome,
.contentHome,
.container{
  text-align: left;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0em;
  position: unset;
  float: none;
  width: 100%;
}


#contaddform, #contmodform {
	width: 40%;
	padding: 1.5em;
	border-color: black;
	border-radius: 4px;
    min-width: 20em;
	margin-left: auto;
	margin-right: auto;
}


.phone, .col-elem, .piante {
	color:black;
}
.nav, .breadcrumb{
	display:none;
}

#menuToggle, #img, #footer,  #addlink{
	display: none;
}

.LoginBox{
	border-radius: 0;
	padding: 0;
}

#title1{
	text-align: left;
}
.BoxLogin{
	text-align: left;
	border-style: none;
	border-radius: 0;
  	background: none;
  	width: 100%;
  	position: unset;
  	padding: 0;
}




