/*generale*/
body {
	font:18px Arial, Helvetica, sans-serif;
	color:black;
	margin: 0;
	height:100%;
	width: 100%;
}

/*struttura*/
.fright {
	float:right;
}

/*header*/
#header {
	background: url(../img/texture.jpg)repeat;
	position:relative;
	overflow: auto;
}

/*img set*/
#img{
	font-size: 0;
	display: block;
	vertical-align:top;
}

.presentation_img{
	box-shadow:3px 3px 6px 1px #333333;
}

/*logo*/
#logo {
	margin-top: 0.3em;
	margin-left: 0.5em;
	float: left;
    display: inline-block;
    height: auto;
    width: 7em;
}

/*titolo*/
#title h1 {
	color: black;
	float:left;
	position: relative;
	top: 0em;
	left: 0.42em;
}

/*chiama ora*/
.header-meta {
	text-align:right;
	padding:31px 20px 20px;
}
.header-meta * {
	text-align:left;
}
.header-meta .col-elem {
	display:inline-block;
	/*width:235px;*/
	text-align:right;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	/*line-height:21px;*/
	color: black;
	font-weight: bold;
	/*text-transform:uppercase;*/
}
.header-meta .phone {
	display:inline-block;
	font-size:22px;
	line-height:22px;
	color:black;
	font-weight: bold;
	margin:-3px 0 0 5px;
}

/*Navbar*/

.nav{
	background-color: #6585a2;
	margin-top: -30px;
	height: 70px;
	/*padding: 0.8em;*/
	text-align: center;
}

.nav ul{
	width: 70%;
	padding-left: 0;
	margin: 0;
	padding-top: 0.9em;
	list-style: none;
	display: inline-block;
}

.nav li {
	display: inline;
}

.nav a{
	height: 100%;
	display: inline-block;
	padding: 0.8em;
	padding-bottom: 1em;
	color:white;
	font-size: 20px;
	text-decoration: none;
	cursor:pointer;
}

.nav a:hover {
	color: #2f233a;
	text-decoration: none;
}

.current a{
	background-color: #ececec;
	color: #6585a2;
	border-radius: 1em 1em 0 0; 
}

/*searchbar*/
.search {
	/*width:271px;
	height:31px;*/
	width: 25%;
	margin-top: 1.2em;
	float: right;
}

.searchTerm {
  float: left;
  width: 80%;
  border: 3px solid white;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  /*position: absolute;*/  
  /*right: -50px;
  width: 40px;*/
  height: 36px;
  border: 1px solid white;
  background: white;
  text-align: center;
  color: #1167cb;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-left: -10%;
}



/*breadcrumb*/

ul.breadcrumb {
  padding: 20px 16px;
  list-style: none;
  text-align: center;
  background-color: #6585a2;
  color:white;
  margin:0;
}

ul.breadcrumb li {
  display: inline;
  font-size: 20px;
}

.bc_here {
  color:#162e55;
  text-decoration: none;
}

/*simbolo slash*/
ul.breadcrumb li+li:before {
  padding: 8px;
  color: white;
  content: "/\00a0";
}

/*colore*/
ul.breadcrumb li a {
  color: white;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color:#162e55;
  text-decoration: underline;
}

/******
section
******/
.section {
    margin-top: 4em;
    text-align: center;			/* per centrare orizzontalmente i contenuti */
}

.section h3 {
    color: #4caf50;
    font-size: 2em;
    line-height: 1.1em;
    text-align: center;
}

.section p {
    display: block;
    font-size: 1em;
    line-height: 1.2em;
    margin-top: 1em;
}

.section h1, p { text-align: center; }

/** Home**/

.link-style {
	display: inline-block;
	margin-top: 20px;
	padding: 7px 20px;
	background: #0C73D4;
	border-radius: 5px;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
}

#content p {
	font-size: 20px;
}
#imghome{
	max-width: 300px;
	height: auto;
	border-radius: 30%; 
	float: right;
}

/*area personale*/

.benvenuto {
	
	margin-bottom: 2rem;
}

.azioni {
	position: relative;
	margin: auto;
	width: 50%;
}

#profilo {
	position: relative;
	margin-right: 5rem;
	
	border: 3px solid #73AD21;
}

#libretto {
	
	border: 3px solid #73AD21;
}

#prenotazioni {
	
	margin-top: 2rem;
	margin-right: 5rem;
	border: 3px solid #73AD21;
}

#logout {
	margin-top: 2rem;
	border: 3px solid #73AD21;
}


/*inserite qui i contenuti delle pagine*/
#content{
	text-align: center;
	margin-left: 2em;
	margin-right: 2em;
}

/************************************************************Link Utili*************************************/

#link1 p{
	text-align: justify;
	margin-bottom: 3em;
}

#link1 a{
	text-decoration: underline;
	font-size: 25px;
	color: #1c3a6b;
	margin: 0.5em 0.5em 0.5em 0.5em;
}

#link1 a:visited{
	color:#0B0080;
}

.logolink{
	float: left;
	width: 4em;
	margin-top: 1.5em;
	margin-right:1.5em;
	margin-bottom:0.5em;
}




/************************************************************EMERGENZE*************************************/
#title h3{
	font-size: 1.2em;
	text-align: center;
}
ul.sezioni{
	list-style:decimal;
	list-style-position: inside;
	text-align: justify;
}

ul.sezioni li {
  font-size: 1.3em;
}
.piante a{
	color:#4A6CA8;
}
.piante a:visited{
	color: #0B0080;
}

.sezioni a{
	color:#4A6CA8; 
}
.sezioni a:visited {
  color:#0B0080;
}


.box2 {
	border: 1px solid black;
	border-radius: 0.3em;
    display: inline-table;
  	font-size: 1em;
	margin: 1em;
    overflow: hidden;
	width: auto;
	height: auto;
}

.box {
	border: 1px solid black;
	border-radius: 0.3em;
    display: inline-table;
  	font-size: 1em;
	margin: 1em;
    overflow: hidden;
	width: 15em;
	height: 23em;
}

.name {
	background-color: #1c3a6b;
    border-bottom: 1px solid black;
    color: #ffffff;
	padding: 0.7em;
	text-align: center;
}

.boxImage { 
    height: auto;
    text-align: center; 
  	width: auto;}

.boxImage2{
	height: auto;
	text-align: left;
	width: auto;
}


.descrizione{
	text-align: center;
	vertical-align:middle;
	position: relative;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 0.5em;
	margin-left: 0.5em;
}

#image4 {
    width: 15em; 
    height: 11em;
}

#image5 {
    width: 9em; 
    height: 9em;
    border-radius: 10%;
    border: 0.05em solid black;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    float: left;

}


/*********************************************SERVIZI*************************************************/

.box3 {
	border: 1px solid black;
	border-radius: 0.3em;
    display: inline-table;
  	font-size: 1em;
	margin: 1em;
    overflow: hidden;
	width: auto;
	height: auto;
}

.box3Image { 
    height: auto;
    width: 40%; 
	
}

.image3 {
	margin-right: 1em; 
	margin-left: 2em;  
	max-width: 100%; 
	max-height: 100%;
	float: left !important;
}
.descrizione3{
	
	padding-left:1.5em;
	width: 59%;
	line-height:1;
	float: left;
	text-align: left;
	vertical-align: middle;
}

/*****
footer
*****/
#footer { 
	background-color: #d8dddd; 
	position: static;
	padding-top: 1em;
	padding-bottom: 1em;
	bottom: 0;
	text-align: center;
}

#footer p {
	display: block;
	margin: 0;
	font-size: 0.8em;
}

#footer_logo{
	width: 5%;
	height: 5%;
}

/*********************DROPDOWN*****************************************/

#menu a
{
  text-decoration: none;
  color: white;
  
  transition: color 0.3s ease;
}

#menu a:hover
{
  color: tomato;
}

.current2 a{
	background-color: #515a5a;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 25px;
  left: 50px;
  width: 50px;
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;

  visibility: hidden;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* per nascondere il quadrato */
  z-index: 2; 

}

/*
 hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #ececec;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span /***Croce**/
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ececec;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 300px;
  margin: -52px 0 0 -50px;
  padding: 50px;
  padding-top: 60px;
  
  background: #426280;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}


/*********media break point***********/

@media screen and (max-width: 1090px) {
	.nav ul li a{ display: none; }
    #menuToggle { visibility: visible; }
    
}

@media screen and (max-width: 700px) {
	.search {display: none;}
	
}

@media screen and (max-width: 550px) {
	#img {display: none;}
	#logo {display: none;}
	
}
